{% extends "pageTemplate.njk" %}

{% block content %}
<h1>Job Roles</h1>

{% if errormessage %}
<h2 style="color:red;font-weight:bold;">{{ errormessage }}</h2>
{% endif %}

{% if roles and roles.length > 0 %}
<table id="jobRolesTable">
    <tr id="jobRolesTableHeaders">
        <th class="headerCol">Role Name</th>
        <th class="headerCol">Location</th>
        <th class="headerCol">Capability</th>
        <th class="headerCol">Band</th>
        <th class="headerCol">Closing Date</th>
        <th class="headerCol">Role Status</th>
    </tr>
    {% for role in roles %}
    <tr class="dataRow">
        <td class="roleName">{{ role.roleName }}</td>
        <td class="roleLocation">{{ role.location }}</td>
        <td class="roleCapability">{{ role.capability }}</td>
        <td class="roleBand">{{ role.band }}</td>
        <td class="roleClosingDate">{{ role.closingDate }}</td>
        <td class="roleStatus">
            {% if role.roleStatus == 1 %}
            Open
            {% else %}
            Closed
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
There are no job roles open.
{% endif %}
{% endblock %}